
server:
  port: 18080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cgv_clone
    username: root
    password: agger0120!
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true